--
-- PostgreSQL database dump
--

\restrict CWbw6TCr7McBxoXUg8yvDqnDWRkWb2ReGRlYHnJx3VFsz7DLoKYaiVc7ZjcY6tQ

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id integer NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_certificat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_certificat (
    id bigint NOT NULL,
    date_obtention timestamp with time zone NOT NULL,
    etudiant_id bigint NOT NULL,
    cours_id bigint NOT NULL
);


ALTER TABLE public.courses_certificat OWNER TO postgres;

--
-- Name: courses_certificat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_certificat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_certificat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_completedcontent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_completedcontent (
    id bigint NOT NULL,
    date_completed timestamp with time zone NOT NULL,
    etudiant_id bigint NOT NULL,
    contenu_id bigint NOT NULL
);


ALTER TABLE public.courses_completedcontent OWNER TO postgres;

--
-- Name: courses_completedcontent_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_completedcontent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_completedcontent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_contenu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_contenu (
    id bigint NOT NULL,
    titre character varying(255) NOT NULL,
    fichier character varying(100),
    video_url character varying(200),
    "order" integer NOT NULL,
    date_upload timestamp with time zone NOT NULL,
    module_id bigint NOT NULL
);


ALTER TABLE public.courses_contenu OWNER TO postgres;

--
-- Name: courses_contenu_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_contenu ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_contenu_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_cours; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_cours (
    id bigint NOT NULL,
    titre character varying(255) NOT NULL,
    description text NOT NULL,
    enseignant_id bigint NOT NULL,
    programme_id bigint
);


ALTER TABLE public.courses_cours OWNER TO postgres;

--
-- Name: courses_cours_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_cours ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_cours_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_inscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_inscription (
    id bigint NOT NULL,
    date_inscription timestamp with time zone NOT NULL,
    cours_id bigint NOT NULL,
    etudiant_id bigint NOT NULL
);


ALTER TABLE public.courses_inscription OWNER TO postgres;

--
-- Name: courses_inscription_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_inscription ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_inscription_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_module; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_module (
    id bigint NOT NULL,
    titre character varying(255) NOT NULL,
    description text,
    "order" integer NOT NULL,
    cours_id bigint NOT NULL
);


ALTER TABLE public.courses_module OWNER TO postgres;

--
-- Name: courses_module_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_module ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_module_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_programme; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_programme (
    id bigint NOT NULL,
    titre character varying(255) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.courses_programme OWNER TO postgres;

--
-- Name: courses_programme_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_programme ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_programme_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_progression; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_progression (
    id bigint NOT NULL,
    progression double precision NOT NULL,
    cours_id bigint NOT NULL,
    etudiant_id bigint NOT NULL
);


ALTER TABLE public.courses_progression OWNER TO postgres;

--
-- Name: courses_progression_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_progression ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_progression_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id integer NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: quiz_question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_question (
    id bigint NOT NULL,
    texte text NOT NULL,
    type_question character varying(20) NOT NULL,
    correct_answer text,
    quiz_id bigint NOT NULL
);


ALTER TABLE public.quiz_question OWNER TO postgres;

--
-- Name: quiz_question_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.quiz_question ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quiz_question_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quiz_quiz; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_quiz (
    id bigint NOT NULL,
    titre character varying(255) NOT NULL,
    "order" integer NOT NULL,
    module_id bigint NOT NULL
);


ALTER TABLE public.quiz_quiz OWNER TO postgres;

--
-- Name: quiz_quiz_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.quiz_quiz ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quiz_quiz_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quiz_reponse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_reponse (
    id bigint NOT NULL,
    texte character varying(255) NOT NULL,
    est_correcte boolean NOT NULL,
    question_id bigint NOT NULL
);


ALTER TABLE public.quiz_reponse OWNER TO postgres;

--
-- Name: quiz_reponse_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.quiz_reponse ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quiz_reponse_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quiz_tentative; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_tentative (
    id bigint NOT NULL,
    date_debut timestamp with time zone NOT NULL,
    date_fin timestamp with time zone,
    score integer,
    etudiant_id bigint NOT NULL,
    quiz_id bigint NOT NULL
);


ALTER TABLE public.quiz_tentative OWNER TO postgres;

--
-- Name: quiz_tentative_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.quiz_tentative ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quiz_tentative_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: results_resultat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.results_resultat (
    id bigint NOT NULL,
    note double precision NOT NULL,
    grade character varying(2),
    cours_id bigint NOT NULL,
    etudiant_id bigint NOT NULL
);


ALTER TABLE public.results_resultat OWNER TO postgres;

--
-- Name: results_resultat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.results_resultat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.results_resultat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO postgres;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) CONSTRAINT token_blacklist_outstandingtoken_jti_hex_not_null NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO postgres;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_notification (
    id bigint NOT NULL,
    message text NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_notification OWNER TO postgres;

--
-- Name: users_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(10) NOT NULL,
    profile_picture character varying(100)
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: courses_certificat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_certificat (id, date_obtention, etudiant_id, cours_id) FROM stdin;
\.


--
-- Data for Name: courses_completedcontent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_completedcontent (id, date_completed, etudiant_id, contenu_id) FROM stdin;
\.


--
-- Data for Name: courses_contenu; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: courses_cours; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: courses_inscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_inscription (id, date_inscription, cours_id, etudiant_id) FROM stdin;
3	2026-05-17 01:30:25.782643+01	3	2
4	2026-05-17 01:30:28.296597+01	4	2
5	2026-05-17 02:13:07.122022+01	5	4
6	2026-05-17 02:13:11.631841+01	6	4
\.


--
-- Data for Name: courses_module; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: courses_programme; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_programme (id, titre, description) FROM stdin;
\.


--
-- Data for Name: courses_progression; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_progression (id, progression, cours_id, etudiant_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	token_blacklist	blacklistedtoken
7	token_blacklist	outstandingtoken
8	users	user
9	users	notification
10	courses	programme
11	courses	cours
12	courses	module
13	courses	contenu
14	courses	completedcontent
15	courses	certificat
16	courses	inscription
17	courses	progression
18	quiz	quiz
19	quiz	question
20	quiz	reponse
21	quiz	tentative
22	results	resultat
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: quiz_question; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz_quiz; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz_reponse; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz_tentative; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz_tentative (id, date_debut, date_fin, score, etudiant_id, quiz_id) FROM stdin;
\.


--
-- Data for Name: results_resultat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.results_resultat (id, note, grade, cours_id, etudiant_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 88, true);


--
-- Name: courses_certificat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_certificat_id_seq', 1, false);


--
-- Name: courses_completedcontent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_completedcontent_id_seq', 4, true);


--
-- Name: courses_contenu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_contenu_id_seq', 25, true);


--
-- Name: courses_cours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_cours_id_seq', 6, true);


--
-- Name: courses_inscription_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_inscription_id_seq', 6, true);


--
-- Name: courses_module_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_module_id_seq', 23, true);


--
-- Name: courses_programme_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_programme_id_seq', 1, false);


--
-- Name: courses_progression_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_progression_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 22, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 42, true);


--
-- Name: quiz_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_question_id_seq', 48, true);


--
-- Name: quiz_quiz_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_quiz_id_seq', 25, true);


--
-- Name: quiz_reponse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_reponse_id_seq', 203, true);


--
-- Name: quiz_tentative_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_tentative_id_seq', 7, true);


--
-- Name: results_resultat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.results_resultat_id_seq', 1, true);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 1, false);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 19, true);


--
-- Name: users_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_notification_id_seq', 6, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 4, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: courses_certificat courses_certificat_etudiant_id_cours_id_83375d64_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_certificat
    ADD CONSTRAINT courses_certificat_etudiant_id_cours_id_83375d64_uniq UNIQUE (etudiant_id, cours_id);


--
-- Name: courses_certificat courses_certificat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_certificat
    ADD CONSTRAINT courses_certificat_pkey PRIMARY KEY (id);


--
-- Name: courses_completedcontent courses_completedcontent_etudiant_id_contenu_id_7fdba89d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_completedcontent
    ADD CONSTRAINT courses_completedcontent_etudiant_id_contenu_id_7fdba89d_uniq UNIQUE (etudiant_id, contenu_id);


--
-- Name: courses_completedcontent courses_completedcontent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_completedcontent
    ADD CONSTRAINT courses_completedcontent_pkey PRIMARY KEY (id);


--
-- Name: courses_contenu courses_contenu_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_contenu
    ADD CONSTRAINT courses_contenu_pkey PRIMARY KEY (id);


--
-- Name: courses_cours courses_cours_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_cours
    ADD CONSTRAINT courses_cours_pkey PRIMARY KEY (id);


--
-- Name: courses_inscription courses_inscription_etudiant_id_cours_id_a64197c1_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_inscription
    ADD CONSTRAINT courses_inscription_etudiant_id_cours_id_a64197c1_uniq UNIQUE (etudiant_id, cours_id);


--
-- Name: courses_inscription courses_inscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_inscription
    ADD CONSTRAINT courses_inscription_pkey PRIMARY KEY (id);


--
-- Name: courses_module courses_module_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_module
    ADD CONSTRAINT courses_module_pkey PRIMARY KEY (id);


--
-- Name: courses_programme courses_programme_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_programme
    ADD CONSTRAINT courses_programme_pkey PRIMARY KEY (id);


--
-- Name: courses_progression courses_progression_etudiant_id_cours_id_7a9c0b10_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_progression
    ADD CONSTRAINT courses_progression_etudiant_id_cours_id_7a9c0b10_uniq UNIQUE (etudiant_id, cours_id);


--
-- Name: courses_progression courses_progression_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_progression
    ADD CONSTRAINT courses_progression_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: quiz_question quiz_question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_question
    ADD CONSTRAINT quiz_question_pkey PRIMARY KEY (id);


--
-- Name: quiz_quiz quiz_quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_quiz
    ADD CONSTRAINT quiz_quiz_pkey PRIMARY KEY (id);


--
-- Name: quiz_reponse quiz_reponse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_reponse
    ADD CONSTRAINT quiz_reponse_pkey PRIMARY KEY (id);


--
-- Name: quiz_tentative quiz_tentative_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_tentative
    ADD CONSTRAINT quiz_tentative_pkey PRIMARY KEY (id);


--
-- Name: results_resultat results_resultat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.results_resultat
    ADD CONSTRAINT results_resultat_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: users_notification users_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_notification
    ADD CONSTRAINT users_notification_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: courses_certificat_cours_id_3c7299e1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_certificat_cours_id_3c7299e1 ON public.courses_certificat USING btree (cours_id);


--
-- Name: courses_certificat_etudiant_id_999597fa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_certificat_etudiant_id_999597fa ON public.courses_certificat USING btree (etudiant_id);


--
-- Name: courses_completedcontent_contenu_id_e77e2b3c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_completedcontent_contenu_id_e77e2b3c ON public.courses_completedcontent USING btree (contenu_id);


--
-- Name: courses_completedcontent_etudiant_id_3dd0ae2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_completedcontent_etudiant_id_3dd0ae2c ON public.courses_completedcontent USING btree (etudiant_id);


--
-- Name: courses_contenu_module_id_fedf0a0f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_contenu_module_id_fedf0a0f ON public.courses_contenu USING btree (module_id);


--
-- Name: courses_cours_enseignant_id_0408751c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_cours_enseignant_id_0408751c ON public.courses_cours USING btree (enseignant_id);


--
-- Name: courses_cours_programme_id_d87234d6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_cours_programme_id_d87234d6 ON public.courses_cours USING btree (programme_id);


--
-- Name: courses_inscription_cours_id_de590896; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_inscription_cours_id_de590896 ON public.courses_inscription USING btree (cours_id);


--
-- Name: courses_inscription_etudiant_id_0ea9f7c8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_inscription_etudiant_id_0ea9f7c8 ON public.courses_inscription USING btree (etudiant_id);


--
-- Name: courses_module_cours_id_4362e4a3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_module_cours_id_4362e4a3 ON public.courses_module USING btree (cours_id);


--
-- Name: courses_progression_cours_id_750f0d08; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_progression_cours_id_750f0d08 ON public.courses_progression USING btree (cours_id);


--
-- Name: courses_progression_etudiant_id_f5fc70ff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_progression_etudiant_id_f5fc70ff ON public.courses_progression USING btree (etudiant_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: quiz_question_quiz_id_b7429966; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quiz_question_quiz_id_b7429966 ON public.quiz_question USING btree (quiz_id);


--
-- Name: quiz_quiz_module_id_276fefaa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quiz_quiz_module_id_276fefaa ON public.quiz_quiz USING btree (module_id);


--
-- Name: quiz_reponse_question_id_36c64a88; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quiz_reponse_question_id_36c64a88 ON public.quiz_reponse USING btree (question_id);


--
-- Name: quiz_tentative_etudiant_id_09d7a7b2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quiz_tentative_etudiant_id_09d7a7b2 ON public.quiz_tentative USING btree (etudiant_id);


--
-- Name: quiz_tentative_quiz_id_2c0f381a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quiz_tentative_quiz_id_2c0f381a ON public.quiz_tentative USING btree (quiz_id);


--
-- Name: results_resultat_cours_id_a7b4ad6f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX results_resultat_cours_id_a7b4ad6f ON public.results_resultat USING btree (cours_id);


--
-- Name: results_resultat_etudiant_id_7e6b021b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX results_resultat_etudiant_id_7e6b021b ON public.results_resultat USING btree (etudiant_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: users_notification_user_id_fed360c8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_notification_user_id_fed360c8 ON public.users_notification USING btree (user_id);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_certificat courses_certificat_cours_id_3c7299e1_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_certificat
    ADD CONSTRAINT courses_certificat_cours_id_3c7299e1_fk FOREIGN KEY (cours_id) REFERENCES public.courses_cours(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_certificat courses_certificat_etudiant_id_999597fa_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_certificat
    ADD CONSTRAINT courses_certificat_etudiant_id_999597fa_fk FOREIGN KEY (etudiant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_completedcontent courses_completedcontent_contenu_id_e77e2b3c_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_completedcontent
    ADD CONSTRAINT courses_completedcontent_contenu_id_e77e2b3c_fk FOREIGN KEY (contenu_id) REFERENCES public.courses_contenu(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_completedcontent courses_completedcontent_etudiant_id_3dd0ae2c_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_completedcontent
    ADD CONSTRAINT courses_completedcontent_etudiant_id_3dd0ae2c_fk FOREIGN KEY (etudiant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_contenu courses_contenu_module_id_fedf0a0f_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_contenu
    ADD CONSTRAINT courses_contenu_module_id_fedf0a0f_fk FOREIGN KEY (module_id) REFERENCES public.courses_module(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_cours courses_cours_enseignant_id_0408751c_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_cours
    ADD CONSTRAINT courses_cours_enseignant_id_0408751c_fk FOREIGN KEY (enseignant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_cours courses_cours_programme_id_d87234d6_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_cours
    ADD CONSTRAINT courses_cours_programme_id_d87234d6_fk FOREIGN KEY (programme_id) REFERENCES public.courses_programme(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_inscription courses_inscription_cours_id_de590896_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_inscription
    ADD CONSTRAINT courses_inscription_cours_id_de590896_fk FOREIGN KEY (cours_id) REFERENCES public.courses_cours(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_inscription courses_inscription_etudiant_id_0ea9f7c8_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_inscription
    ADD CONSTRAINT courses_inscription_etudiant_id_0ea9f7c8_fk FOREIGN KEY (etudiant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_module courses_module_cours_id_4362e4a3_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_module
    ADD CONSTRAINT courses_module_cours_id_4362e4a3_fk FOREIGN KEY (cours_id) REFERENCES public.courses_cours(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_progression courses_progression_cours_id_750f0d08_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_progression
    ADD CONSTRAINT courses_progression_cours_id_750f0d08_fk FOREIGN KEY (cours_id) REFERENCES public.courses_cours(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_progression courses_progression_etudiant_id_f5fc70ff_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_progression
    ADD CONSTRAINT courses_progression_etudiant_id_f5fc70ff_fk FOREIGN KEY (etudiant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quiz_question quiz_question_quiz_id_b7429966_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_question
    ADD CONSTRAINT quiz_question_quiz_id_b7429966_fk FOREIGN KEY (quiz_id) REFERENCES public.quiz_quiz(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quiz_quiz quiz_quiz_module_id_276fefaa_fk_courses_module_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_quiz
    ADD CONSTRAINT quiz_quiz_module_id_276fefaa_fk_courses_module_id FOREIGN KEY (module_id) REFERENCES public.courses_module(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quiz_reponse quiz_reponse_question_id_36c64a88_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_reponse
    ADD CONSTRAINT quiz_reponse_question_id_36c64a88_fk FOREIGN KEY (question_id) REFERENCES public.quiz_question(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quiz_tentative quiz_tentative_etudiant_id_09d7a7b2_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_tentative
    ADD CONSTRAINT quiz_tentative_etudiant_id_09d7a7b2_fk FOREIGN KEY (etudiant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quiz_tentative quiz_tentative_quiz_id_2c0f381a_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_tentative
    ADD CONSTRAINT quiz_tentative_quiz_id_2c0f381a_fk FOREIGN KEY (quiz_id) REFERENCES public.quiz_quiz(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: results_resultat results_resultat_cours_id_a7b4ad6f_fk_courses_cours_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.results_resultat
    ADD CONSTRAINT results_resultat_cours_id_a7b4ad6f_fk_courses_cours_id FOREIGN KEY (cours_id) REFERENCES public.courses_cours(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: results_resultat results_resultat_etudiant_id_7e6b021b_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.results_resultat
    ADD CONSTRAINT results_resultat_etudiant_id_7e6b021b_fk FOREIGN KEY (etudiant_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_user_id_83bc629a_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_user_id_83bc629a_fk FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_notification users_notification_user_id_fed360c8_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_notification
    ADD CONSTRAINT users_notification_user_id_fed360c8_fk FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict CWbw6TCr7McBxoXUg8yvDqnDWRkWb2ReGRlYHnJx3VFsz7DLoKYaiVc7ZjcY6tQ

